target/*
bin/*
build/*
.gradle/*
.settings/*
.classpath
.project
.factorypath
.attach_pid*
.idea
*.iml
/target
.sts4-cache/
.vscode
_site/
*.css
.jfrog
.jfrog/
.jfrog/*
!petclinic.css
rbv2-spec-*.json
*.json
*.bkp
*.drawio.bkp
dockerimage-file-details-*
list.manifest-cmd.*
list-manifest-cmd*
rb2-spec-cmd*
rb2-spec-cmd.*
*.env
.github/workflows/*.env
.github/workflows/my-custom.env
.github/workflows/jfcli-docker.env
.github/workflows/jfcli-custom-runner-image.yml

my-files/scripts-sh/oauth-github.sh
jf-cli.sh
evd-*.json